<header>
    <div class="navbar-header">
        <div class="d-flex">
            <h4>Dashboard</h4>
        </div>
        <div class="d-flex">
            <!-- Search bar -->
            <div class="dropdown">
                <button type="button" class="btn header-item" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search icon-sm"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-0 show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 72px);" data-popper-placement="bottom-end">
                    <form class="p-2">
                        <div class="search-box">
                            <div class="position-relative">
                                <input type="text" class="form-control bg-light border-0" placeholder="Search...">
                                <i class="fas fa-search search-icon"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- User related dropdown -->
            <div class="dropdown">
                <button type="button" class="btn header-item user text-start d-flex align-items-center show" id="page-header-user-dropdown-v" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <!-- <img class="rounded-circle header-profile-user" src="img/avatar-1.jpg" alt="Header Avatar"> -->
                </button>
                <div class="dropdown-menu dropdown-menu-end show">
                    <div class="p-3 border-bottom">
                        <h6 class="mb-0">Name</h6>
                        <p class="mb-0 font-size-11 text-muted" th:text="${authenticatedUser}">Email</p>
                    </div>
                    <a href="" class="dropdown-item">
                        <i class="mdi mdi-message-text-outline text-muted font-size-16 align-middle me-1"></i> 
                        <span class="align-middle">Profile</span>
                    </a>
                    <a href="logout.html" class="dropdown-item">
                        <i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> 
                        <span class="align-middle">Déconnexion</span></a>
                    </a>
                </div>

            </div>
        </div>
    </div>
</header>