<div id="site__sidebar" class="fixed top-0 left-0 z-[99] pt-[--m-top] overflow-hidden transition-transform xl:duration-500 max-xl:w-full max-xl:-translate-x-full">

    <!-- sidebar inner -->
    <div class="p-2 max-xl:bg-white shadow-sm 2xl:w-72 sm:w-64 w-[80%] h-[calc(100vh-64px)] relative z-30 max-lg:border-r dark:max-xl:!bg-slate-700 dark:border-slate-700 dark:!bg-slate-800">

        <div class="pr-4" data-simplebar>

            <nav id="side">
            
                <ul th:each="category : *{categories}">
                    <li>
                        <a th:href="@{'/' + ${category.id} + '/documents'}">
                            <img src="/assets/images/icons/home.png" alt="feeds" class="w-6">
                            <span th:text="${category.name}"> Catégorie par défaut </span> 
                        </a>
                    </li>
                    <!-- <li class="active">
                        <a href="messages.html">
                            <img src="/assets/images/icons/message.png" alt="messages" class="w-5">
                            <span> messages </span> 
                        </a>
                    </li>  -->
                </ul>
                
                <button type="button" class="flex items-center gap-4 py-2 px-4 w-full font-medium text-sm text-black dark:text-white" uk-toggle="target: #show__more; cls: !hidden uk-animation-fade"> 
                    <svg class="bg-gray-200 rounded-full w-6 h-6 dark:bg-slate-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> 
                    <span id="show__more"> See More </span> 
                    <span class="!hidden" id="show__more"> See Less </span> 
                </button>
                <form action="/category/add" method="post">
                    <input type="text" class="m-5" name="newCategoryName" id="newCategoryName" placeholder="Ajouter une catégorie">
                    <button type="submit" >Add</button>
                </form>
                

            </nav>
        </div>
    </div>

    <!-- sidebar overly -->
    <div id="site__sidebar__overly" 
        class="absolute top-0 left-0 z-20 w-screen h-screen xl:hidden backdrop-blur-sm"
        uk-toggle="target: #site__sidebar ; cls :!-translate-x-0"> 
    </div>
</div>