* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --primary:  #084b83;
    --secondary: #42bfdd;
    --accent1: #ff66b3;
    --accent2: #f39b6d;
    --light-bg: #fafcfc;
    --dark-bg: #031a2e;
    --neutral: #6c6f6f;
}

form {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--neutral);
    margin-bottom: 50px;
}

form div {
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

form div label {
    display: block;
    color: var(--primary);
}

form div input {
    width: 100%;
    padding: 2%;
    border: none;
    border-bottom: 1px solid var(--accent2);
    margin-bottom: 10%;
}

form div input:focus {
    outline: none;
    border-color: var(--neutral);
}

form div input::placeholder {
    font-style: italic;
}

form div input:not(:placeholder-shown)::placeholder {
    color: transparent;
}

form button {
    background-color: var(--accent2);
    color: var(--white);
    border-radius: 15%;
    padding: 10px 15px;
    border: none;
    text-align: center;
    margin-top: 10px;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
}

.main {
    background-color: var(--neutral);
    display: flex;
    flex-direction: row;
}

.vertical-menu {
    width: 255px;
}

.dashboard-container {
    background-color: #f39b6d;
    border-radius: 40px;
    flex: 1;
}